* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
body {
  background-image: url('./Styles/images/background.jpg');
  background-color: #cccccc;
 } */

.main-div {
  margin: auto;
  max-width: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(236, 219, 219);
}

html {
  background-color: rgb(236, 219, 219);
}
