.movie-main-div {
  margin: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-main-div__single-div {
  width: 100%;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.movie-main-div__single-div__button {
  margin-top: 1%;
  padding: 3%;
  font-size: large;
  background-color: rgb(182, 6, 6);
  color: white;
  border-radius: 40px;
  border: 2px solid black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-shadow: 2px 2px black;
}

.main-div__movie-div img {
  width: 40%;
}